# Object files
**/Objects
**/Listings

#guix files
*.uvguix.*
*.uvguix

#zip files, in case of accident
*.zip

#latex output files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
*.out
*.tex.bak
*.blg
*.bbl

#windows files
*.db

#Java build files
**/build
**/.gradle
**/.idea
*.bin
*.iml
*.properties