# Object files
*/Objects
*/Listings

# Debug files
*/DebugConfig

#guix files
*.uvguix.*

#zip files, in case of accident
*.zip

#latex output files
/report/*.aux
/report/*.fdb_latexmk
/report/*.fls
/report/*.log
/report/*.pdf
/report/*.synctex.gz
/report/*.toc
/report/*.out

