# Object files
*/Objects
*/Listings

# Debug files
*/DebugConfig

#guix files
*.uvguix.*

#zip files, in case of accident
*.zip

#latex output files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
*.out
*.tex.bak

